/* RESET */
*{
  box-sizing: border-box;
}

/* CART WIDGET */
.containerImgCartW{
  grid-area: cart;
  margin: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.imgCartW{
  height: 50px;
}

.containerImgCartW:hover{
    background-color: #c38190;
    transform: scale(1.1, 1.1)
}

.numberCartW{
  background-color: #c38190;
  border-radius: 5px;
  padding: 8px;

}

/* CART */
.tableCart{
  margin: auto;
}

.imgCart{
  width: 100px;
  border-radius: 10px;
  border: 2px solid rgb(43, 49, 49);
  overflow: hidden;
}

.columnTable{
padding-right: 30px;
}

.btnVaciar{
  width: 120px;
  padding: 5px 5px;
  background-color: rgb(43, 49, 49);
  color: rgb(233, 77, 77);
  border: 2px solid rgb(43, 49, 49);
  border-radius: 5px;
}

.btnVaciar:hover{
  transform: scale(1.1, 1.1);
  font-weight: bold;
}

.btnEliminar{
  background-color: rgb(43, 49, 49);
  color: rgb(233, 77, 77);
  border: 2px solid rgb(43, 49, 49);
}

.btnEliminar:hover{
  transform: scale(1.1, 1.1);
}