/* RESET */
*{
  box-sizing: border-box;
}

/* CART - ITEM */

.containerCartItem{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cartItem{
  margin: 50px;
  border: 2px solid rgb(43, 49, 49);
  border-radius: 5px;
  overflow: hidden;
  background-color: #c38190;
}

.imgCartItem{
  width: 240px;
  border-bottom: 1px solid rgb(43, 49, 49);
}

.titleCartItem{
  font-size: 1rem;
}

.priceCartItem{
  font-size: 1rem;
}

.btnCartItem{
  width: 240px;
  padding: 5px 0px;
  background-color: rgb(43, 49, 49);
  color: white;
  border: 2px solid rgb(43, 49, 49);
  border-radius: 5px;
 
}

.btnCartItem:hover{
  transform: scale(1.1, 1.1);
  font-weight: bold;
}